/* Create variables with color theme */

:root {
    --primary-color: #5A4AE3;
    --secondary-color: #4AE3A6;
    --tertiary-color: #d4e34aa3;
    --tertiary-color2: #E34A87;
    --accent-color: #E3A64A;
    --dark-color: #232323;
    --light-color: #eeeeee;
}

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: var(--dark-color);
    /* linear gradient with opacity */
    background: linear-gradient(to right, var(--tertiary-color), var(--light-color), var(--tertiary-color));
}

p {
    white-space: pre-line;
}


/* GOOGLE BUTTON */